
html{
  background-image: url(https://images.wallpapersden.com/image/download/astronaut-exploring-space_a2lmZ26UmZqaraWkpJRmbmdlrWZlbWU.jpg);
      background-size: cover;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  text-align: center;
  color: white
}
button {
  position: absolute;
  right: 48%;
  top: 70%;
}
#board {
  padding: 10vmin;
  width: 70vmin;
  height: 50vmin;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding-top: 10vmin;
  position: absolute;
  right: 27%;
  
}

.cell{
 display: flex;
 position: relative;
border: 2px solid whitesmoke;
}
.piece {
  border-radius: 50%;
  flex-grow: 1;
}
.piece[data-player="1"]{
  content: url(https://images.emojiterra.com/twitter/v13.1/512px/1fa90.png);width: 50px; height: 70px;
}
.piece[data-player="2"]{
  content: url(https://images.emojiterra.com/google/noto-emoji/v2.034/512px/1f30d.png);width: 50px; height: 70px;
  }
  .piece[data-placed="false"]{
    transform: translateY(-10vmin);
  }

