
html {
  background-image: url(./connectfourbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: white;
  font-size: 4vw;
  padding: 2vw;
  margin: 1vw;
}

button {
  position: absolute;
  right: 48%;
  top: 70%;
  font-size: 16px;
  padding: 8px 16px;
}

#board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 70vmin;
  height: 50vmin;
  padding: 10vmin;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 414px) and (max-height: 896px) {
  /* Adjust board size and button position for iPhone screens */
  #board {
    padding: 10vw;
    width: 90vw;
    height: 70vw;
    padding-top: 20vw;
    right: 5%;
    top: 15%;
  }
  button {
    right: 40%;
    top: 75%;
    font-size: 12px;
    padding: 4px 8px;
  }
  h1 {
    font-size: 6vw;
  }
}


.cell{
  position: relative;
  padding-top: 100%;
border: 2px solid whitesmoke;
}
.piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
.piece[data-player="1"]{
  content: url(https://images.emojiterra.com/twitter/v13.1/512px/1fa90.png);width: 50px; height: 70px;
}
.piece[data-player="2"]{
  content: url(https://images.emojiterra.com/google/noto-emoji/v2.034/512px/1f30d.png);width: 50px; height: 70px;
  }
  .piece[data-placed="false"]{
    transform: translateY(-10vmin);
  }
